doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="nexmo-stitch/dist/conversationClient.js")
  body
    block content

  script(src="javascripts/index.js")
